$main-color: #5d4037;
$back-color: #fff;
$navbar-color: #ffb300;

body{
	color:$main-color;
	background: $back-color;
}
.shadow{
	display: flex;
	transform: rotate(30deg);
	box-shadow:1px 1px 5px $back-color;
}
.logo{
    max-width: 70px;
    float:left;
    transition: 1000ms ease;
    &:hover{
        transform: rotate(360deg);
    }
}

.nav-wrapper{
    background:$navbar-color;
}
