$main-color: #263238;
$back-color: #fff;
body{
	color:$main-color;
	background: $back-color;
}
.shadow{
	display: flex;
	transform: rotate(30deg);
	box-shadow:1px 1px 5px $back-color;
}
.logo{
    max-width: 70px;
    float:left;
    transition: 1000ms ease;
    &:hover{
        transform: rotate(360deg);
    }
}
