body {
  color: #5d4037;
  background: #fff; }

.shadow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  box-shadow: 1px 1px 5px #fff; }

.logo {
  max-width: 70px;
  float: left;
  transition: 1000ms ease; }
  .logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.nav-wrapper {
  background: #ffb300; }
