<div>
	<h1 class="thin">Buscar Oferta Avanzada</h1>
	<div class="card-panel blue-grey lighten-5">
	    <div class="row">
	        <div class="col s12">
	            <div class="input-field col s2">                
	                <label>Genero</label>
	                <br><br>
	                <select class="browser-default">
	                    <option value="" disabled selected>Buscar por:</option>
	                    <option value="1">Título</option>
	                    <option value="2">Autor</option>
	                    <option value="3">Etiqueta</option>
	                </select>
	            </div>
	                <br><br>    
	            <div class="input-field col s9">  
	                <input id="buscar" type="text" class="validate">
	                <label for="buscar">Buscar:</label>
	            </div>
	            <div class="submit col s1">  
	            	<a class="btn-floating btn-large waves-effect waves-light orange darken-4"><i class="material-icons">search</i></a>
	            </div>
	        </div> 
	    </div>
    </div>
</div>


  


