<h1 class="thin">LOGIN</h1>

<div class="row">
    <div class="col l6 m6 s12">
        <div class="card-panel grey lighten-4">
        	<div class="input-field" style"input-focus-color:#ffc107">
          		<input placeholder="Introduce tu correo" id="first_name" type="text" class="validate">
        	</div>
        	<div class="input-field">
            	<input placeholder="Introduce tu password" id="password" type="password" class="validate">
        	</div>
        	<a class="waves-effect waves-light btn amber darken-1">Iniciar sesión</a>
 		</div>
    </div>
</div>
