
<div >
    <h1 class="thin">Mis Ofertas</h1>
    <div class="divider"></div>
    <table class="centered striped bordered">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in ofertas">
              <td>{{a.title}}</td>
              <td style="max-width:80%;" class="truncate">{{a.description}}</td>    
              <td class="fixed-action-btn horizontal" style="position:relative;bottom:0px;padding: 5px 15px 5px 60px;">
                <a class="btn-floating btn-large  amber lighten-1">
                  <i class="large material-icons">menu</i>
                </a>
                <ul style="right: 80px;">
                  <li><a class="btn-floating red"><i class="material-icons">delete</i></a></li>
                  <li><a href="/#/oferta/edit/{{a.ofertaId}}" class="btn-floating blue"><i class="material-icons">mode_edit</i></a></li>
                  <li><a href="/#/oferta/{{a.ofertaId}}" class="btn-floating green"><i class="material-icons">visibility</i></a></li>
                </ul>
              </td>
            </tr>
        </tbody>
    </table>
</div>

