<div style="padding-top:20px;">
	<div ng-if="ofertaOnly.ofertaId != undefined">
	    <div class="row">
	        <div class="col s12">
	        	<ul class="collection">
				    <li class="collection-item avatar" style="padding-left:90px;">
				      <img src="{{ofertaOnly.usuario.urlProfilePicture}}" alt="" class="circle" style="width:64px;height:64px">
				      <span class="title">{{ofertaOnly.title}}</span>
				      <a href=""><p>@{{ofertaOnly.usuario.username}}</p></a>
				      <h5 class="secondary-content" style="color:#ffb300">${{ofertaOnly.price}}</h5>
				    </li>
  				</ul>
	        </div> 
	        <div class="col s12" style="padding:0 0rem;">
				<div class=" col l7 s12">
					<img src="images/platanos.jpg" style="width:100%;height:100%;border-radius:5px;"> 
					<div class="col s2">
						<h5 style="color:#4caf50"><i class="small material-icons" style="color:#4caf50">thumb_up</i> 3</h5>
					</div>
					<div class="col s2">
						<h5 style="color:#f44336"><i class="small material-icons" style="color:#f44336">thumb_down</i> 3</h5>
					</div>
					<div class="col s3">
						<h5 style="color:#ffb300"><i class="small material-icons" style="color:#ffb300">schedule</i>3 Dias</h5>
					</div>
					<div class="col s5 right-align" style="padding-top:14px;">
						<a href="">
							<i class="small material-icons" style="color:#ffb300">favorite</i>
						</a>
						<a href="">
						<i class="small material-icons" style="color:#f44336">block</i>
						</a>
						<a href="">
						<i class="small material-icons" style="color:#4caf50">add_box</i>
						</a>
					</div>
					
				</div>  
				<div class="col l5 s12" >
					<div class=" card-panel blue-grey lighten-4" style="width:100%;height:100%;margin:0rem 0rem 0rem 0rem;border-radius:5px;">

						<img src="images/platanos.jpg" style="width:45%;height:45%;margin:0px 7px 2px 7px"> 
						<img src="images/platanos.jpg" style="width:45%;height:45%;margin:0px 7px 2px 7px"> 
						<img src="images/platanos.jpg" style="width:45%;height:45%;margin:0px 7px 2px 7px"> 
						<img src="images/platanos.jpg" style="width:45%;height:45%;margin:0px 7px 2px 7px"> 
						<img src="images/platanos.jpg" style="width:45%;height:45%;margin:0px 7px 2px 7px"> 
					</div>  
	        	</div> 
 			</div>
 			<div class="col s12">
 				<p style="text-align: justify">{{ofertaOnly.description}}. <a href="">#Platano</a><a href=""> #Pajaritos</a><a href=""> #Maipú</a><a href=""> #Fruta</a></p>


 			</div>
	        <div class="col s12" style="padding-top:10px;">
				<div class="nav-header waves-effect waves-light btn blue-grey darken-4 z-depth-2" ng-click="doTheBack()">Volver</div>
			</div>
		</div>
	</div>
		<div ng-if="ofertaOnly.ofertaId == undefined">
			<div class="section blue-grey darken-4 z-depth-2" style="color:white;">
				<h4><b>ACTOR NO ENCONTRADO</h4>
			</div>
			<div class="divider"></div>
			<div class="section blue-grey z-depth-2" style="color:white">
			    <p class="h4">Por favor ingrese un actor válido</p>
			</div>
			<div class="divider"></div>
			<br>

			<div class="nav-header waves-effect waves-light btn blue-grey darken-4 z-depth-2" ng-click="doTheBack()">Volver</div>
		</div>
<br><br>

